h1, h2, h3{
    font-size: 100px;
    background-color: aquamarine; 
}
p {
    /* color: grey */
    /*  */
    color: rgba(187, 23, 23, 0.5);
    font-size: 30px;
}
#heading{
    color: blueviolet;
    font-size: 50px;
}
.green-text{
    color: green;
}
.font-sixe-large{
    font-size: 90px;
}